<nav class="uk-navbar-container uk-margin" uk-navbar>

  <div class="uk-navbar-left">
    <a href="" class="uk-navbar-item uk-logo">
      UI Angular ML Model
    </a>
  </div>

  <div class="uk-navbar-item">
    <form>
      <div class="uk-inline">
        <a href="#" class="uk-form-icon" uk-icon="icon: search"></a>
        <input type="text" class="uk-input uk-form-width-large search-input" type="text" autocomplete="off" placeholder="Buscar modelo ...">
      </div>
    </form>
  </div>
</nav>

<div class="uk-container uk-container-expand">
  <app-project-list></app-project-list>
</div>
