/* Color Theme Swatches in Hex */
$color-1-hex: #D7D7D9;
$color-2-hex: #184059;
$color-3-hex: #5D8AA6;
$color-4-hex: #c96060;
$color-5-hex: #8C2F1B;
$color-6-hex: #FFF;
$color-7-hex: #F0F0F3;

/* Color Theme Swatches in RGBA */
$color-1-rgba: rgba(214,214,216, 1);
$color-2-rgba: rgba(24,64,89, 1);
$color-3-rgba: rgba(92,137,165, 1);
$color-4-rgba: rgba(191,122,63, 1);
$color-5-rgba: rgba(140,47,26, 1);

/* Color Theme Swatches in HSLA */
$color-1-hsla: hsla(247, 2, 84, 1);
$color-2-hsla: hsla(202, 57, 22, 1);
$color-3-hsla: hsla(202, 29, 50, 1);
$color-4-hsla: hsla(28, 50, 49, 1);
$color-5-hsla: hsla(11, 68, 32, 1);
